body {
    font-family: 'Chakra Petch', sans-serif;;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0f24;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    border-radius: 25px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.game {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 50px;
}

.history__list {
    list-style: none;
}

.image {
    width: 150px;
    height: 150px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 20px;
}

.computer {
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 20px;
}

.btn {
    margin: 10px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.title__gamer {
    text-align: center;
}

.btn__start {
    border: 1px solid white;    
    border-radius: 20px;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    background-image: linear-gradient(45deg, #d445b5, #b9b9df);
    font-weight: 800;
}

.btn__start:hover {
    transition: 0.3s;
    background: #d445b5;
    cursor: pointer;
}

.score__list {
    padding: 0;
}

.score__item {
    list-style: none;
}

.btn__logout {
    background-image: linear-gradient(45deg, #d445b5, #b9b9df);
    border: 1px solid white;    
    border-radius: 20px;
    color: white;
    padding: 10px 70px;
    font-weight: 800;
}

.btn__logout:hover {
    transition: 0.3s;
    background: #d445b5;
    cursor: pointer;
}

.btn__login {
    background-image: linear-gradient(45deg, #d445b5, #b9b9df);
    border: 1px solid white;    
    border-radius: 20px;
    color: white;
    padding: 10px 50px;
    font-weight: 800;
    width: 60%;
    align-self: center;
    margin-top: 20px;
}

.btn__login:hover {
    transition: 0.3s;
    background: #d445b5;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.result__title {
    font-size: 3rem;
    margin: 0;
}

.title {
    font-size: 5rem;
    margin: 0;
    color: #1f707a;
}

.form {
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form__info {
    display: flex;
    flex-direction: column;
    width: 3    0%;
}

.form__item {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1.5rem;
}

.label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800px;
    color: rgb(212, 18, 212);
}